li {
  border-bottom: 1px solid black !important;
}

h4 > hr {
  width: 67%;
}

#parallax-header {
  height: 715px;
}

#header-text {
  display: none;
}

#header-image {
  height: 700px;
  background: url(../img/bg.jpg) no-repeat center center scroll;
}

#inner {
  margin: 30px 0 20px 0;
}

#laughing {
  height: 250px;
}

#callout-image {
  height: 400px;
  background: url(../img/callout.jpg) no-repeat center center scroll;
  background-size: cover;
}

div.hide-on-med-and-down > div {
  height: 400px;
}

#projects {
  padding: 30px 0 30px 0;
}

#skill-list {
  padding-top: 25px;
  padding-bottom: 25px;
}

#tech-skills > div:nth-child(1) {
  margin-bottom: 0;
}

#tech-skills, #frontend-tech, #backend-tech {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

#backend-tech > div:nth-child(1) > div > div:nth-child(1) > li, #backend-tech > div:nth-child(1) > div > div:nth-child(2) > li, #frontend-tech > div:nth-child(1) > li, #frontend-tech > div:nth-child(2) > li {
  opacity: 0;
}

#code {
  height: 280px;
  width: 290px;
}

@media (max-width: 600px) {
  #frontend-tech {
    margin-bottom: 30px;
  } 

  #code {
    height: 255px;
    width: 265px;
    position: relative;
    right: 8px;
  }
}

#server {
  height: 300px;
  width: 240px;
}

svg path, svg line, svg polyline {
  stroke: black;
}

svg path {
  fill: transparent;
}

#icon {
  color: white;
}

footer.page-footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: #00b8d4 !important;
}

body > footer > div.container > div > div.col.l4.offset-l2.s12 > ul > li {
  border-bottom: none !important;
}

body > footer > div > div {
  margin-top: 5px !important;
}

#inner > div.row.center-align.hide-on-med-and-up {
  margin-bottom: 0px;
}

#contact-me {
  padding: 25px 0 25px 0;
}
