<section class="info valign-wrapper light-blue darken-1">
  <div id="inner" class="container">
    <div class="row">
      
      <div class="col s12 white-text light">
        <h4 class="valign">A Little Bit About Me</h4>
        <hr>
      </div>

      <div class="col l6 m6 s12 white-text">
        <p class="light">Hey there,<br> My name is Andrew Gardhouse and I am a full-stack web developer and am currently interning at Lighthouse Labs in Vancouver, BC.</p> 
        <p class="light">I believe that development is a never-ending journey with limitless possibilities. I am always eagar to learn more and apply what I've learned to build and contribute to exciting projects.</p>
      </div>

      <div class="col l6 m6 s12 right-align">
        <img id="laughing" class="responsive-img z-depth-4" src="/img/laughing.jpg">
      </div>

    </div>

    <div class="row center-align hide-on-med-and-up">
      <a href="http://ca.linkedin.com/pub/andrew-gardhouse/a7/776/962">
        <i id="icon" class="fa fa-linkedin-square fa-fw fa-2x"></i>
      </a>
      <a href="https://github.com/AndrewGardhouse">
        <i id="icon" class="fa fa-github fa-fw fa-2x"></i>
      </a>
      <a href="https://instagram.com/JustMissedIt">
        <i id="icon" class="fa fa-instagram fa-fw fa-2x"></i>
      </a>
    </div>
    
  </div>
</section>