<section class="info valign-wrapper light-blue darken-1">
  <div id="inner" class="container">
    <div class="row">
      <div class="col s12 white-text light">
        <h4 class="valign">A Little Bit About Me</h4>
        <hr>
      </div>
      <div class="col l6 m6 s12 white-text">
        <p class="light">Hey there,<br> My name is Andrew Gardhouse and I am a full-stack web developer and am currently interning at Lighthouse Labs in Vancouver, BC.</p> 
        <p class="light">I believe that development is a never-ending journey with limitless possibilities. I am always eagar to learn more and apply what I've learned to build and contribute to exciting projects.</p>
      </div>
      <div class="col l6 m6 s12 right-align">
        <img id="laughing" class="responsive-img z-depth-4" src="/img/laughing.jpg">
      </div>
    </div>
  </div>
</section>