<div class="hide-on-med-and-down">
  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br><br>
        <h2 class="header center text-lighten-2">"...a man..."</h2>
        <div class="row center">
          <h5 class="header col s12 light">Albert Einstein - Probably talking about Andrew Gardhouse</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/callout.jpg" alt="Unsplashed background image"></div>
  </div>
</div>

<div class="hide-on-large-only">
  <div id="callout-image" class="section no-pad-bot">
    <div class="container">
      <br><br><br><br>
      <h3 class="header center text-lighten-2">"...a man..."</h3>
      <div class="row center">
        <h5 class="header col s12 light">Albert Einstein - <br>Probably talking about Andrew Gardhouse</h5>
      </div>
    </div>
  </div>
</div>