<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4" href="mailto:andrewgardhouse@gmail.com">AndrewGardhouse &copy; 2015
      </a>
      <div class="right">
        <a href="http://ca.linkedin.com/pub/andrew-gardhouse/a7/776/962" target="_blank" ><i id="icon" class="fa fa-linkedin-square fa-fw fa-2x"></i></a>
        <a href="https://github.com/AndrewGardhouse" target="_blank" ><i id="icon" class="fa fa-github fa-fw fa-2x"></i></a>
        <a href="https://instagram.com/JustMissedIt" target="_blank" ><i id="icon" class="fa fa-instagram fa-fw fa-2x"></i></a>
      </div>
    </div>
  </div> 
</footer>