<section>
  <div class="hide-on-med-and-down">
    <div id="parallax-header" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br><br><br><br><br><br><br><br>
          <h1 class="header center text-lighten-2">Hello, The Internet</h1>
          <div class="row center">
            <h5 class="header col s12 light">Welcome to my neck of the woods</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/img/bg.jpg" alt="Unsplashed background image"></div>
    </div>
  </div>

  <div class="hide-on-large-only">
    <div id="header-image" class="section no-pad-bot">
      <div class="container">
        <br><br><br><br>
        <h3 class="header center text-lighten-2">Hello, The Internet</h3>
        <div class="row center">
          <h5 class="header col s12 light">Welcome to my neck of the woods</h5>
        </div>
      </div>
    </div>
  </div>
</section>
