<section id="projects" class="teal lighten-5">
  <div class="container light">
    <div class="row">
      <div class="col-lg-12">
        <h4>Portfolio</h4>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col l6 m6 s12">
        <h5 class="light">Claira</h5>
        <a class="modal-trigger" href="#modal1">
          <img class="z-depth-2 responsive-img" width="350" src="/img/portfolio-5.png">
        </a>
      </div>
      <div class="col l6 m6 s12">
        <h5 class="light">Snow'd In</h5>
        <a class="modal-trigger" href="#modal2">
          <img class="z-depth-2 responsive-img" width="350" src="/img/portfolio-6.png">
        </a>
      </div>
      <div class="col l6 m6 s12">
        <h5 class="light">Lighthouse Labs</h5>
        <a class="modal-trigger" href="#modal3">
          <img class="z-depth-2 responsive-img" width="350" src="/img/portfolio-7.png">
        </a>
      </div>
      <div class="col l6 m6 s12">
        <h5 class="light">Deep Thoughts Extension</h5>
        <a class="modal-trigger" href="#modal4">
          <img class="z-depth-2 responsive-img" width="350" src="/img/portfolio-8.png">
        </a>
      </div>
      <div class="col l6 offset-l3 m6 offset-m3 s12">
        <h5 class="light">Get Me Outta Here</h5>
        <a class="modal-trigger" href="#modal5">
          <img class="z-depth-2 responsive-img" width="350" src="/img/portfolio-9.png">
        </a>
      </div>      
    </div>
  </div>
  <div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h4>
        <a href="http://claira.herokuapp.com/" target="_blank">Claira</a>
        <hr>
        <small>"Today is the tomorrow you worried about yesterday"</small>
      </h4>
      <img class="responsive-img z-depth-2" width="500" src="/img/portfolio-5.png">
      <br><br>
      <h6>
        Claira is a time capsule-esque app that lets users send media-rich letters to themselves in the future.
      </h6>
      <br>
      <h6>
        <strong>Tools for the job:</strong> Sinatra, Bootstrap, JQuery
      </h6>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
  <div id="modal2" class="modal center-align">
    <div class="modal-content">
      <h4>
        <a href="https://github.com/AndrewGardhouse/powder" target="_blank">Snow'd In</a>
        <hr>
        <small>"The Wikileaks of the snowboard world"</small>
      </h4>
      <img class="z-depth-2 responsive-img" width="500" src="/img/portfolio-6.png">
      <br><br>
      <h6>
        Snow'd In is an online community for snowboarders. Users can upload videos and pictures, post classifieds, or get snow and weather conditions for their local mountain.
      </h6>
      <br>
      <h6>
        <strong>Tools for the job:</strong> Ruby on Rails, Bootstrap, JQuery, and a plethera of incredibly useful ruby gems
      </h6>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
  <div id="modal3" class="modal center-align">
    <div class="modal-content">
      <h4>
        <a href="https://lighthouselabs.ca/" target="_blank">Lighthouse Labs</a>
        <hr>
        <small>"Canada's Coding Bootcamp"</small>
      </h4>
      <img class="z-depth-2 responsive-img" width="500" src="/img/portfolio-7.png">
      <br><br>
      <h6>
        Lighthouse Labs is Canada's premier coding bootcamp, I was brought on to maintain and contribute to their website.
      </h6>
      <br>
      <h6>
        <strong>Tools for the job:</strong> Ruby on Rails, Bourbon, Foundation, JQuery
      </h6>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
  <div id="modal4" class="modal center-align">
    <div class="modal-content">
      <h4>
        <a href="https://chrome.google.com/webstore/detail/deep-thoughts-by-jack-han/dljleoaondcpfbnjpmcddabbgfmmhcjo?hl=en" target="_blank">Deep Thoughts with Jack Handey</a>
        <hr>
        <small>" The face of a child can say it all, especially the mouth part of the face."</small>
      </h4>
      <img class="z-depth-2 responsive-img" width="500" src="/img/portfolio-8.png">
      <br><br>
      <h6>
        This is a "handey" (get it?) Chrome Extension I made that loads a Jack Handey quote everytime you open a new tab in your browser.
      </h6>
      <br>
      <h6>
        <strong>Tools for the job:</strong> HTML5, CSS3, JavaScript
      </h6>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>
  <div id="modal5" class="modal center-align">
    <div class="modal-content">
      <h4>
        <a href="http://getmeouttahere.surge.sh" target="_blank">Get Me Outta Here</a>
        <hr>
        <small>Your Social Akwardness Escape Pod</small>
      </h4>
      <img class="z-depth-2 responsive-img" width="500" src="/img/portfolio-9.png">
      <br><br>
      <h6>
        This was a fun side project I built. Users can text the number on the site and follow the instructions to get an excuse texted to them.
      </h6>
      <br>
      <h6>
        <strong>Tools for the job:</strong> Express, Harp, Twilio
      </h6>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>  
</section>