<section id="skills" class="info valign-wrapper blue lighten-2">
  <div id="inner" class="container white-text">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="valign">Skills</h4>
        <div class="col-lg-4">
          <hr> 
        </div>
        <p class="light flow-text">
          Not unlike a certain Irish superhero I have are a very particular set of skills,<br> but unlike him, my skills aren't in rescuing my kidnapped daughter and her friends (although I'm fairly confident in my problem solving skills that I'd figure out a way to do so, it just wouldn't be nearly as badass as his way). My particular set of skills are in developing visually clean, responsive, and fully function web pages and applications with a variety of front-end and back-end frameworks and libraries.
        </p>
      </div>
    </div>
  </div>
</section>