$breakpoint-sm: '(min-width: 37.5)' !default;
$breakpoint-md: '(min-width: 48rem)' !default;
$breakpoint-lg: '(min-width: 64rem)' !default;
$breakpoint-xl: '(min-width: 85rem)' !default;
$breakpoint-xxl: '(min-width: 100em)' !default;
$breakpoint-ipad: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)' !default;
