@keyframes beam {
  100% { left: -110%; }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes page-load {
  from {
    box-shadow: inset 0 0 0 350px #000;
  }
  to {
    box-shadow: inset 0 0 0 0px #000;
  }
}

@keyframes light-flash {
  from {
    background-color: white;
  }
  to {
    background-color: transparent;
  }
}

@keyframes about-page-loaded {
  from {
    top: 40%;
  }
  to {
    top: 0%;
  }
}

@keyframes character-loading {
  from {
    top: 20%;
  }
  to {
    top: 0%;
  }
}

@keyframes text-scroll {
  from {
    max-height: 0px;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}
